/*---main style---*/
body{
	background-color: #717343;
	border-style: solid;
	border-radius: 3.125%;
	width: 90%; 
	box-shadow: black 0.1em 0.1em;
	margin: 1.2% auto;
	padding: .625%;
	background-image: url("../images/armored2.gif");
    background-repeat: repeat-x;
    background-position: top;	
	}

/*---head style info---*/
h1{
	color: #38281A;
	font-family: Tahoma, Futura, Arial;
	font-size: 2.500em;
	font-weight: bold;
	border-style: none;
	background-color:#A6774E;
	border-radius: .625%;
	width: 50%; 
	text-shadow: black 0.05em 0.05em 0.1em;
	text-align: center;
	margin: 2.5% auto;
	}

h2{
	color: #38281A;
	font-family: Calibri, Myriad, Arial;
	font-weight: bold;
	padding-left: 5%;
	}

h3{
	color: #38281A;
	font-family: Calibri, Myriad, Arial;
	font-weight: bold;
	padding-left: 5%;
	}

/*--- paragraph style info---*/
p{
	font-family: Geneva, Helvetica, Arial;
	color: #F2E1C2;
	text-indent: 1.875%;
	}
	
#footer{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b4ddb4), color-stop(0%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
	padding: 1.25%;
	text-align: center;
	}

/*--- columns ---*/

#columns1of2{
	float: left;
	height: 100%;
	width: 46.875%;
	margin: .625%;
	padding-left: 1.25%;
	line-height: 105%;
	}

#columns2of2{
	float: left;
	height: 100%;
	width: 46.875%;
	margin: .625%;
	padding-left: 1.25%;
	line-height: 155%;
	background-image: url("../images/jeep5.jpg");
    background-repeat: no-repeat;
    background-size: 12.5% 10%;
    background-position: center bottom;
	}
	
#Usage{
	clear: left;
	}

/*--- Table style---*/

table {
	width: 100%;
	padding: 0.625%;
	font-size: 1em;
	border: 1px double #021a40;
	text-align: left;
	background-color: #C4AD98;
	border-spacing: 1px;
	}
	
table th{	
	font-size: 2em;
	text-transform: uppercase;
	text-align: right;
	background-color: #A69180;
	}
	
.odd:hover{
	background-color:#5F9ECF;
	}
		
.even{
	background-color: #DBC1A9;
	}	
	
.even:hover{	
	background-color:#5F9ECF;
	}

/*--- form style---*/
#Join{
	width:500px;
	margin:20px auto;
	}

fieldset{
	width: 310px;
	margin-top: 10px;
	border:1px solid #fff;
	}
	
legend{
	font-style: italic;
	color: #030303;
	float: left;
	width: 150px;
	clear: left;
	}	
	
#title{
	font-size: 15px;
	width: 150px;
	clear: left;
	}
	
input{
	border: 1px solid #d6d6d6;
	padding: 1px;
	border-radius: .625%;
	}	
input:focus{
	background-color:#E6FFEC;
	border: 1px solid #E6FFEC;
	}	
	
input:hover{
	background-color:#BACFC0;
	border: 1px solid #999;
	}	
	
#submit{
	color :#fff;
	padding:5px;
	margin-top: 10px;
	text-align: center;
	}
	

/*--- image style---*/


img {
	padding: 0.125%;
	border: 1px double #021a40;
	border-radius: 1.25%;
	box-shadow: black 0.05em 0.05em 0.1em;
	opacity: .55;
	}

img:hover {
    opacity: 1.0;
    }



/*--- list style---*/
ol{
	list-style-type: none;
	} 
	
li {

    display: inline;
	padding-left: 4%;
	
}

ul{
	list-style-type: none; 
	}

/*--- link info---*/
a{
	font-family: "Roboto", Arial;
	}

a:link{
	color: #333;
	}

a:visited{
	color: #333;
	}

a:hover{
	color: #0D0D0D;
	}

a:active{
	color: #0D0D0D;
	}