h1 {
	font size: 1.5%
	}

h2 {
	font size: 1.33%
	}

h3 {
	font size: 1.25%
	}

body {
	font-size: 80%;
	font-family: Arial, Verdana, or sans-serif.;
	letter-spacing: 0.15em;	
	background-color: #efefef;
	}
		
nav {
	list-style-type:none;
	text-align: center;
	}
	
ul{
	list-style-type:none;
	}

#content {
	text-align: left;
	}

#content img {
	float:left;
	margin: 20px;
	}
	
#column1of2{
	float: left;
	width: 280px;
	margin: 5px;
	}
	
#column2of2{
	float: left;
	width: 280px;
	margin: 5px;
	}
	
.gallery-content{
	width: 500px;
	margin: 20px 0px;
	position: absolute;
	overflow: auto;
	}
		
.entry{
	background-image: url("images/shadow.png");
	font size: 0.70%;
	width: 220px;
	height: 220px;
	float: left;
	margin: 5px;
	}		

th{
	text-align:left;
	padding: 5px 40px 5px 10px;
	font size: 90%;
	margin: 0%;
	background-color: #cbd2d8;
	border-top: 1px #f1f8fe;
	border-bottom: 1px #cbd2d8;
	border-right: 1px #cdb2d8;
	text-shadow: 1px , 1px, 1px #fff;
	}

table td{	
	border: 0;
	text-align: right;
	padding: 5px 40px 5px 10px;
	font size: 90%;
	margin: 0%;
	background-color: #cbd2d8;
	border-top: 1px #f1f8fe;
	border-bottom: 1px #cbd2d8;
	border-right: 1px #cdb2d8;
	text-shadow: 1px , 1px, 1px #fff;}
	
.even{
	background-color: #f1f8fe;
	}	
	
fig{
	height: 193px;
	width: 202px;
	margin: 0;
	padding: 9px;
	background-color: #e7e3d8;
	}
	
figcaption{
	padding: 5px 0 0 25px;
	}	
		
a {
	color: #000000;
	text-transform: uppercase;
	text-decoration: none;
	}
	
a:hover, a#current-page {
	color: #cc3333;
	background-color: #ffffff;
	}